{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2 class="text-center page-title">Prekių krepšelis</h2>
        {% if cart|length == 0 %}
            <p>Prekių krepšelyje kol kas nėra</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Vnt. kaina</th>
                    <th scope="col">Kiekis</th>
                    <th scope="col">Bendra kaina</th>
                    <th scope="col">Mažinti kiekį</th>
                </tr>
                </thead>
                {% for product in cart %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ product.productTitle }}</td>
                        <td>{{ product.productPrice }}</td>
                        <td>{{ product.count }}</td>
                        <td>{{ product.count * product.productPrice }}</td>
                        <td>
                            <a href="{{ path('cart.remove', { 'id': product.id }) }}">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-primary" href="{{ path('order.add') }}">
                Sukurti užsakymą
            </a>
        {% endif %}
    </div>
{% endblock %}