{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2 class="text-center page-title">Užsakymo prekės</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pavadinimas</th>
                <th scope="col">Vnt. kaina</th>
                <th scope="col">Kiekis</th>
                <th scope="col">Bendra kaina</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th scope="col">Mažinti kiekį</th>
                {% endif %}
            </tr>
            </thead>
            {% for cart in products %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ cart.productTitle }}</td>
                    <td>{{ cart.productPrice }}</td>
                    <td>{{ cart.count }}</td>
                    <td>{{ cart.count * cart.productPrice }}</td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a href="{{ path('order.edit', { 'id': cart.id }) }}">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}